body,html{
    margin: 0;
    height: 100%;
    overflow-y: hidden;
}

#logo{
    height: 4rem;
    width: 7rem;
    padding: 0;
}

#logoin{
    height: 4rem;
    width: 7rem;
    margin-left: 2rem;
}

#navbarCollapse1{
    margin-left: 3rem;
    padding-right: 0.5rem;
    padding-left: 55rem;
}

.navbar{
    padding-bottom: 0;
}

iframe{
    height: 100%;
    width: 100%;
}