body,html {
  width: 100%;
  height: 100%;
  background-color: black;
  overflow-y: hidden;
  scroll-behavior: smooth;
  }

#logo{
  height: 4rem;
  width: 7rem;
  padding: 0;
}

#logoin{
  height: 4rem;
  width: 7rem;
  margin-left: 2rem;
}

#navbarCollapse1{
  margin-left: 3rem;
  padding-right: 0.5rem;
  padding-left: 55rem;
}

.navbar{
  padding-bottom: 0;
  padding-top: 0;
}


.digitales{
  height: 44rem;
  width: full;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  color: white;
  font-size: 5rem;

}
