html, body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Alegreya Sans SC', sans-serif;
}

#logo{
    height: 4rem;
    width: 7rem;
    padding: 0;
}

#logoin{
    height: 4rem;
    width: 7rem;
    margin-left: 2rem;
}

#navbarCollapse1{
    margin-left: 3rem;
    padding-right: 0.5rem;
    padding-left: 55rem;
}

.navbar{
    padding-bottom: 0;
    padding-top: 0;
}

.primera{
    height: 48rem;
    width: 100%;
}

.segunda{
    height: 44rem;
    width: 100%;
}

.hoy{
    height: 24rem;
    width: 100%;
    background-image: url(file:///C:/Users/Usuario/Desktop/Sivarte/img/banda.jpg);
    background-position: top center;
    margin: 0;
}

.arriba2{
    height: 24rem;
    width: 100%;
    margin: 0;
}

.lugares{
    background-image: url(file:///C:/Users/Usuario/Desktop/Sivarte/img/lugares.jpg);
    background-position: center center;
}

.digital{
    background-image: url(file:///C:/Users/Usuario/Desktop/Sivarte/img/digital.jpg);
    background-position: center center;
}

.cafes{
    background-image: url(file:///C:/Users/Usuario/Desktop/Sivarte/img/cafes.jpg);
    background-position: center center;

}

.artistas{
    background-image: url(file:///C:/Users/Usuario/Desktop/Sivarte/img/sonia.jpg);
    background-position: top center;
    height: 100%
}

.eventos{
    background-image: url(file:///C:/Users/Usuario/Desktop/Sivarte/img/nadine.jpg);
    background-position: top center;
    height: 100%
}

.abajo{
    height: 44rem;
    padding: 0
}

.sivar{
    height: 35.2rem;
    background-image: url(file:///C:/Users/Usuario/Desktop/Sivarte/img/sivar.jpg);
    background-position: bottom center;
    background-color: rgb(255, 255, 255)
}

.contacto{
    height: 8.8rem;
    background-color: rgb(0, 0, 0)
}

.dos{
    height: 44rem;
    width: 100%;
    margin: 0;
}

#down{
    background-color: black;
    border-color: navy
}

.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}
  
  .scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
  }
  
  .scroll-down:before {
      position: absolute;
      top: calc(50% - 8px);
      left: calc(50% - 6px);
      transform: rotate(-45deg);
      display: block;
      width: 12px;
      height: 12px;
      content: "";
      border: 2px solid white;
      border-width: 0px 0 2px 2px;
  }
  
  @keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }

.foto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grande-blanco{
    font-size: 65px;
    color: white;
    text-shadow: 1px 0 0 #000000, -1px 0 0 #000000, 0 1px 0 #000000, 0 -1px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
    margin-top: 20px;
    line-height: 16px;
    font-weight: 700;
}

.titulo-blanco{
    font-size: 45px;
    color: white;
    text-shadow: 1px 0 0 #000000, -1px 0 0 #000000, 0 1px 0 #000000, 0 -1px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
}

.titulo-negro{
    font-size: 45px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
