body{
    background: url(img/background_lugares.jpg) #000000;
    background-attachment: fixed;
    background-size: cover;
}

.principal{
    display: flex;
    align-items: center;
    height: 43rem;
}

.item{

}

.btn{
    color: #ffffff;
    background: #5a5858;
}

.card01{
    background: url(img/fondo_casa_tomada_paglugares.jpg);
    background-size: cover;
    color: #ffffff;
}